/* Nav Bar */

.nav{
    border-bottom: 1px solid #dee2e6;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.nav-item-1{
    transition: .3s;
    overflow: hidden;
}
.nav-item-2{
    transition: .3s;
    overflow: hidden;
    filter: grayscale(100);
}

.nav-item-2:hover{
    filter: grayscale(0);
}

.nav-item-3{
    transition: .3s;
    overflow: hidden;
}
.nav-item-4{
    transition: .3s;
    overflow: hidden;
    filter: grayscale(100);
}

.nav-item-4:hover{
    filter: grayscale(0);
}

.nav-item-5{
    transition: .3s;
    overflow: hidden;
    filter: grayscale(100);
}

.nav-item-5:hover{
    filter: grayscale(0);
}

.nav-link-1{
    transition: .3s;
    font-size: 13px;
    align-items: center;
    text-decoration: none;
    font-family: 'FiraGO', sans-serif;
    display: flex;
    color: #f03135;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link-2{
    transition: .3s;
    font-size: 13px;
    align-items: center;
    text-decoration: none;
    font-family: 'FiraGO', sans-serif;
    display: flex;
    color: #60636c;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link-2:hover{
    color: #f03135;
}

.nav-link-3{
    transition: .3s;
    font-size: 13px;
    align-items: center;
    text-decoration: none;
    font-family: 'FiraGO', sans-serif;
    display: flex;
    color: #60636c;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link-3:hover{
    color: #f03135;
}

.nav-link-4{
    transition: .3s;
    font-size: 13px;
    align-items: center;
    text-decoration: none;
    font-family: 'FiraGO', sans-serif;
    display: flex;
    color: #60636c;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link-4:hover{
    color: #f03135;
}

.nav-link-5{
    transition: .3s;
    font-size: 13px;
    align-items: center;
    text-decoration: none;
    font-family: 'FiraGO', sans-serif;
    display: flex;
    color: #60636c;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link-5:hover{
    color: #f03135;
}


.icon{
    width: 20px;
    height: 15px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    text-decoration: none;
    filter: grayscale(100);
}

.img-1{
    border-style: none;
    vertical-align: middle;
    padding-right: .5rem;
}

.img-2{
    border-style: none;
    vertical-align: middle;
    padding-right: .5rem;
}


.img-3{
    border-style: none;
    vertical-align: middle;
    padding-right: .5rem;
}

.img-4{
    border-style: none;
    vertical-align: middle;
    padding-right: .5rem;
}

.img-5{
    border-style: none;
    vertical-align: middle;
    padding-right: .5rem;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Site{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #dee2e6;
    font-family: 'FiraGO', sans-serif;
    color: #f03135;
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-items: center;
}

/* menu */

.menu{
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    box-sizing: border-box;
}

.main-logo{
    width: 100px;
    height: 100px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    display: inline-block;
}


.tkt{
    border: 1px solid #f03135;
    background-color: #f03135;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 120px;
    height: 50px;
    color: white;
    font-size: medium;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    line-height: 1.14;
    padding: 1.1rem 1.1125rem;
    transition: .5s; 
}

.tkt:hover{
    background-color: #c5383b;
    border-color: #c5383b;
}

#btn{
    font-feature-settings: "case" on;
    box-shadow: initial !important;
    outline: 0 !important;
    border: 0 !important;
    background-color: transparent;
    cursor: default;
}

.geo{
    border: 1px solid #dee2e6;
    border-radius: 50px;
    width: 75px;
    height: 35px;
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.geo-img{
    border-radius: 16px;
    width: auto;
    margin-right: 5px;
    height: 18px;
    vertical-align: middle;
    border-style: none;
    margin-top: 0.3125rem;
    display: inline-block;
    padding-left: 0px;
}



.p-1{
    display: inline-block;
    padding-top: 10px;
    vertical-align: middle;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.list{
    width: 1140px;
    height: 108px;
    padding-top: 1.5rem;
    padding-left: 6rem;
}

.sec-bar{
    display: inline-block;
    margin-left: 2.5rem;
}

li{
    display: inline-block;
    color: #60636c;
    text-decoration: none;
}

.bar-1{
    color: #60636c;
    font-family: "BPG Arial Caps", sans-serif;
    transition: .5s;
    display: inline-block;
    padding-right: 20px;
    font-size: .875rem;
}

.bar-1:hover{
    color: #f03135;
}

.arrow{
    line-height: 1;
}

.bar-2{
    color: #60636c;
    font-family: "BPG Arial Caps", sans-serif;
    transition: .5s;
    display: inline-block;
    padding-right: 20px;
    font-size: .875rem;
}

.bar-2:hover{
    color: #f03135;
}

.bar-3{
    color: #60636c;
    font-family: "BPG Arial Caps", sans-serif;
    transition: .5s;
    display: inline-block;
    padding-right: 20px;
    font-size: .875rem;
}

.bar-3:hover{
    color: #f03135;
}


.bar-5{
    color: #60636c;
    font-family: "BPG Arial Caps", sans-serif;
    transition: .5s;
    display: inline-block;
    padding-right: 20px;
    font-size: .875rem;
}

.bar-5:hover{
    color: #f03135;
}


.bar-4{
    color: #60636c;
    font-family: "BPG Arial Caps", sans-serif;
    transition: .5s;
    display: inline-block;
    padding-right: 20px;
    font-size: .875rem;
}

.bar-4:hover{
    color: #f03135;
}

.bar-6{
    color: #60636c;
    font-family: "BPG Arial Caps", sans-serif;
    transition: .5s;
    display: inline-block;
    padding-right: 20px;
    font-size: .875rem;
}

.bar-6:hover{
    color: #f03135;
}



.d-1{
    display: flex;
}


/* Slider */

/* section{
    height: 500px;
    background-image: url("../Images/slider.png");
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: center 0;
} */


/* Container */



.container{
    margin-top: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    font-family: 'FiraGO', sans-serif;
}

.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    font-family: 'FiraGO', sans-serif;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #ffffff;
    transition: 0.3s;
}

.button button:hover{
    background: #ffffff;
    color: #fff;
    border-radius: 100%;
}

.slide{
    font-family: 'FiraGO', sans-serif;
}